/spm-dao-api/target/**
/spm-domain-model/target/**
/spm-dao-file/target/**
/spm-business-logic/target/**
/spm-application-file/target/**
/spm-dao-api/nbactions.xml
/spm-domain-model/nbactions.xml
/spm-dao-file/nbactions.xml
/spm-business-logic/nbactions.xml
/spm-application-file/nbactions.xml
*~
/target/